<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Animals | OuO</title>
        <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-2.1.4.min.js">
        </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            $.(function() {
                var Entries = function(entry) {
                    this.picLink = entry.picLink;
                    this.name = entry.name;
                    this.short = entry.short;
                    this.long = entry.long;
                };
            });
        </script>
        <style type="text/css" media="all">
            .anicard {
                box-shadow: 8px 8px 10px black;
            }
        </style>
    </head>
    <body>
<div class="fluid-container" style="background: url(https://s3-ap-northeast-1.amazonaws.com/hackntu/picture/bg-gray.png) repeat; background-size: contain;">
        <div class="container" id="autogen">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail anicard">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                <img src="http://163.29.39.183/uploads/images/medium/15067337-89f2-4232-99ed-9007c26f7a64.jpg" alt="..." width="200px" id="picLink">
                            </div>
                            <div class="col-sm-4 col-md-4" style="border-right: 1px solid #ccc;">
                                <dl class="dl-horizontal">
                                    <dt>名字：</dt>
                                    <dd>可魯</dd>
                                    <dt>性別：</dt>
                                    <dd>雄</dd>
                                    <dt>品種：</dt>
                                    <dd>米克斯</dd>
                                    <dt>體型：</dt>
                                    <dd>大</dd>
                                    <dt>年紀：</dt>
                                    <dd>老年</dd>
                                    <dt>節育：</dt>
                                    <dd>是</dd>
                                    <dt>毛色：</dt>
                                    <dd>黑</dd>
                                </dl>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>理由：</dt>
                                    <dd>民眾不擬馴養</dd>
                                    <dt>備註：</dt>
                                    <dd>白內障  耳疥蟲  耳炎
                                    我是Cash
                                    我的年紀大了
                                    身體機能都在退化
                                    耳朵已經聽不太到
                                    視力也有很大的影響
                                    可是我很乖很溫馴
                                    不會亂叫不會吵鬧
                                    希望你們可以給我一個機會
                                    讓我能再次擁有家的溫暖及安全感</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail anicard">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                <img src="http://163.29.39.183/uploads/images/medium/15067337-89f2-4232-99ed-9007c26f7a64.jpg" alt="..." width="200px" id="picLink">
                            </div>
                            <div class="col-sm-1 col-md-1">
                                <div class="text-right">名字：</div>
                                <div class="text-right">性別：</div>
                                <div class="text-right">品種：</div>
                                <div class="text-right">體型：</div>
                                <div class="text-right">年紀：</div>
                                <div class="text-right">節育：</div>
                                <div class="text-right">毛色：</div>
                            </div>
                            <div class="col-sm-2 col-md-2" style="border-right: 1px solid #ccc;">
                                可魯<br>
                                雄<br>
                                米克斯<br>
                                大<br>
                                老年<br>
                                是<br>
                                黑<br>
                            </div>
                            <div class="col-sm-1 col-md-1">
                                理由：<br>
                                備註：<br>
                            </div>
                            <div class="col-sm-5 col-md-5">
                                民眾不擬馴養<br>
                                白內障  耳疥蟲  耳炎
                                我是Cash
                                我的年紀大了
                                身體機能都在退化
                                耳朵已經聽不太到
                                視力也有很大的影響
                                可是我很乖很溫馴
                                不會亂叫不會吵鬧
                                希望你們可以給我一個機會
                                讓我能再次擁有家的溫暖及安全感<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail anicard">
                        <div class="row">
                            <div class="col-sm-3 col-md-3" style="border-right: 1px solid #ccc;">
                                <img src="http://163.29.39.183/uploads/images/medium/15067337-89f2-4232-99ed-9007c26f7a64.jpg" alt="..." width="200px" id="picLink">
                            </div>
                            <div class="col-sm-9 col-md-9">
                                <dl class="dl-horizontal">
                                    <dt>名字：</dt>
                                    <dd>可魯</dd>
                                    <dt>性別：</dt>
                                    <dd>雄</dd>
                                    <dt>品種：</dt>
                                    <dd>米克斯</dd>
                                    <dt>體型：</dt>
                                    <dd>大</dd>
                                    <dt>年紀：</dt>
                                    <dd>老年</dd>
                                    <dt>節育：</dt>
                                    <dd>是</dd>
                                    <dt>毛色：</dt>
                                    <dd>黑</dd>
                                    <dt>理由：</dt>
                                    <dd>民眾不擬馴養</dd>
                                    <dt>備註：</dt>
                                    <dd>白內障  耳疥蟲  耳炎
                                    我是Cash
                                    我的年紀大了
                                    身體機能都在退化
                                    耳朵已經聽不太到
                                    視力也有很大的影響
                                    可是我很乖很溫馴
                                    不會亂叫不會吵鬧
                                    希望你們可以給我一個機會
                                    讓我能再次擁有家的溫暖及安全感</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail anicard">
                        <div class="row">
                            <div class="col-sm-3 col-md-3" style="border-right: 1px solid #ccc;">
                                <img src="http://163.29.39.183/uploads/images/medium/15067337-89f2-4232-99ed-9007c26f7a64.jpg" alt="..." width="200px" id="picLink">
                            </div>
                            <div class="col-sm-9 col-md-9">
                                <dl class="dl-horizontal">
                                    <dt>名字：</dt>
                                    <dd>可魯</dd>
                                    <dt>性別：</dt>
                                    <dd>雄</dd>
                                    <dt>品種：</dt>
                                    <dd>米克斯</dd>
                                    <dt>體型：</dt>
                                    <dd>大</dd>
                                    <dt>年紀：</dt>
                                    <dd>老年</dd>
                                    <dt>節育：</dt>
                                    <dd>是</dd>
                                    <dt>毛色：</dt>
                                    <dd>黑</dd>
                                    <dt>理由：</dt>
                                    <dd>民眾不擬馴養</dd>
                                    <dt>備註：</dt>
                                    <dd>白內障  耳疥蟲  耳炎
                                    我是Cash
                                    我的年紀大了
                                    身體機能都在退化
                                    耳朵已經聽不太到
                                    視力也有很大的影響
                                    可是我很乖很溫馴
                                    不會亂叫不會吵鬧
                                    希望你們可以給我一個機會
                                    讓我能再次擁有家的溫暖及安全感</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
