<script type="text/javascript" charset="utf-8">
$(function() {

    var dataList = {
        "Name": "名稱",
        "Sex": "性別",
        "Type": "動物種類",
        "Build": "體型",
        "Age": "年齡",
        "Variety": "品種",
        "Reason": "進所原因",
        "AcceptNum": "收容編號",
        "ChipNum": "晶片號碼",
        "IsSterilization": "絕育否",
        "HairType": "毛色",
        "Note": "描述",
        "Resettlement": "位置",
        "Phone": "聯絡電話",
        "Email": "聯絡email",
        //"ChildreAnlong": "可否與其他孩童相處",
        //"AnimalAnlong": "可否與其他動物相處",
        //"Bodyweight": "體重",
        "ImageName": "圖片"
    };
    var dataKeys = Object.keys(dataList);

    function parseData(jsd) {
        var JSONData = jsd;
        for (ii = 0; ii < JSONData.length; ii++) {
            var data = JSONData[ii];
            var t1 = $("<div>", {class: "col-sm-6 col-md-6"});
            var t2 = $("<div>", {class: "thumbnail anicard"});
            var t3 = $("<div>", {class: "row"});
            var t4 = $("<div>", {class: "col-sm-3 col-md-3"});
            var t5 = $("<img id='piclink'>");
            t5.attr('src', data['ImageName']);
            t5.attr('width', '200px');
            t4.append(t5);
            t3.append(t4);
            var t6 = $("<div>", {class: "col-sm-9 col-md-9"});
            var t7 = $("<dl>", {class: "dl-horizontal"});
            for (i = 0; i < 15; i++) {
                //if (data[dataKeys[i]] != null) {
                    var tmp = $("<dt>");
                    tmp.append(dataList[dataKeys[i]]);
                    t7.append(tmp);
                    tmp = $("<dd>");
                    tmp.append(data[dataKeys[i]]);
                    t7.append(tmp);
                //}
            }
            t6.append(t7);
            t3.append(t6);
            t2.append(t3);
            t1.append(t2);
            $('#targetcard').append(t1);
        }
    };
    parseData(data);
});
</script>
<style type="text/css" media="all">
.anicard {
    box-shadow: 8px 8px 10px black;
}
            dt {
                color: #42a5f5;
            }
</style>

<div id="autogen">
    <div class="row" id="targetcard">
    </div>
</div>
