{% extends 'base.html' %}
{% load bootstrap %}
{% block title_block%}
<title>Create Graph | OuO</title>
{% endblock %} {% block body_block %}
<!-- Wrap the rest of the page in another container to center all the content. -->
<script>
function isJSONValid(jsonString) {
    try {
        JSON.parse(jsonString);
    } catch (e) {
        return false;
    }
    return true;
}

function getJSONColumn(jsonString) {
    try {
        return Object.keys(JSON.parse(jsonString)[0]);
    } catch (e) {
        return [];
    }
}
$(function(){
  $('#id_data_src').keyup(function(){
    $("select option").remove();
    console.log(this.value);
    json_str = this.value;
    if (isJSONValid(json_str)) {
      col = getJSONColumn(json_str);
      if (col.length) {
        console.log(col);
        for(var i = 0; i < col.length; i++) {
          $("select").append($("<option></option>").attr("value", col[i]).text(col[i]));
        }
      }
    }
  })
})
</script>
<div class="fluid-container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}

      {{ form|bootstrap_horizontal:"col-lg-2" }}

      <div class="col-lg-12">
        {% for field in fields %}
        <div class="form-group col-lg-3" style="padding:30px">
          <label for="{{ field.fname }}">{{ field.fname }}:</label>
          <select class="form-control" id="{{ field.fname }}" name="{{ field.fname }}">
          </select>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-offset-11">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- /.container -->
<hr> {% endblock %}
