{% extends 'base.html' %} {% load bootstrap %} {% block title_block%}
<title>探索圖表 | OuO</title>
{% endblock %} {% block body_block %}
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="fluid-container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>名稱</th>
                <th>內容簡介</th>
                <th>貢獻者</th>
            </tr>
            {% for graph in graphs %}
            <tr>
              <td><a href="/graph/result/{{ graph.id }}">{{ graph.gname }}</a></td>
              <td>{{ graph.description }}</td>
              <td>{{ graph.owner }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!-- /.container -->
<hr> {% endblock %}
