{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block%}
<title>首頁 | OuO</title>
{% endblock %}

{% block body_block %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">讓資料更有價值<br><span class="text-muted">自圖裡找出文字的不足</span></h2>
      <p class="lead">文字表述的傳達能力有限，讓我們一起讓資料圖像化，<br>用人類最自然的方式來閱讀<code> Open Data </code>。</p>
    </div>
    <div class="col-md-5">
    <img class="featurette-image img-responsive center-block img-rounded" src="https://s3-ap-northeast-1.amazonaws.com/hackntu/picture/banner.jpg" alt="">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
    <img class="featurette-image img-responsive center-block img-rounded" src="https://s3-ap-northeast-1.amazonaws.com/hackntu/picture/banner.jpg" alt="">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Open data Uses Open data<br><span class="text-muted">OuO</span></h2>
      <p class="lead">是一個提供視覺化的平台<br>媒合貢獻者的範本、相輔相成的資料<br>加速 <code>Open Data</code> 的圖象化速度。</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3">
      <img class="img-circle" src="http://nthu-course.cf/static/images/hydai.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>hydai</h2>
      <p>訓練有素的猴子一號</p>
    </div>
    <div class="col-lg-3">
      <img class="img-circle" src="http://nthu-course.cf/static/images/henryyang42.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>henry</h2>
      <p>訓練有素的猴子二號</p>
    </div>
    <div class="col-lg-3">
      <img class="img-circle" src="http://nthu-course.cf/static/images/jesse.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>jesse</h2>
      <p>訓練有素的猴子三號</p>
    </div>
    <div class="col-lg-3">
      <img class="img-circle" src="http://nthu-course.cf/static/images/salas.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>salas</h2>
      <p>訓練有素的猴子四號</p>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
  <hr class="featurette-divider">
{% endblock %}
